{% extends "base.html" %}
{% block body %}
    <style>
        /* TODO: map-style.css */
        #map {
            height: 100%
        }

        .overlay.principal {
            background-color: #FFFFFF;
            padding: 0.5em;
            z-index: 1000;
            top: 10px;
            border-radius: 6px;
            border: 2px solid rgba(0, 0, 0, 0.2);
        }

        /* change style */
        .fixed.overlay.principal {
            position: fixed;
            padding: 0.3em;
            margin: 0px 10px 10px 10px;
        }

        .leaflet-right {
            right: auto;
            left: 10px;
        }

        .leaflet-top.leaflet-right {
            top: 74px;
        }

        .leaflet-touch .leaflet-control-layers-toggle {
            width: 31px;
        }

        .leaflet-top .leaflet-control {
            margin-top: 70px !important;
        }

        .sidebar.icon, .ui.secondary.menu .item:first-child {
            margin-right: 0 !important;
        }

        .first-menu, .second-menu {
            margin: 0 !important;
        }

        .hidden {
            display: none !important;
        }

    </style>

    <!-- start modal -->
    <div class="ui small modal principal-menu">

        <div class="header">
            Options
        </div>
        <div>
            <div class="ui vertical fluid menu">
                <a class="item">
                    <i class="share icon"></i> Share
                </a>
                <a class="item" id="principal-filter">
                    <i class="filter icon"></i> Filter
                </a>
                <a class="item">
                    <i class="table icon"></i> Summary
                </a>
                <a class="item">
                    <i class="translate icon"></i> Language
                </a>
                <a class="item close">
                    <i class="close icon"></i> Close
                </a>

            </div>
        </div>
    </div>
    <div class="ui modal about-menu">

        <div class="header">
            About
        </div>
        <div class="ui stackable one column grid">
            <div class="column center aligned" style="padding-bottom: 0 !important;">
                <div class="github-card" data-github="nemesiscodex/security-map" data-width="300" data-height=""
                     data-theme="medium"></div>
                <div class="ui vertical fluid menu">
                    <a class="item close">
                        <i class="check icon"></i> OK
                    </a>
                </div>
            </div>

            <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
        </div>
    </div>
    <div class="ui small modal filter-menu">

        <div class="header">
            filter
        </div>
        <div>
            <div class="ui vertical fluid menu">
                <a class="item">
                    <i class="filter icon"></i> Filter 1
                </a>
                <a class="item">
                    <i class="filter icon"></i> Filter 2
                </a>
                <a class="item">
                    <i class="filter icon"></i> Filter 3
                </a>
                <a class="item close">
                    <i class="close icon"></i> Close
                </a>

            </div>
        </div>
    </div>
    <!-- end modal-->

    <div id="map">
        <div class="overlay fixed principal">
            <div class="ui secondary small menu">
                <a class="item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="item">
                    <i class="add circle icon"></i> Event
                </a>
                <a class="item">
                    <i class="help circle icon"></i> Help
                </a>
                <a class="item" id="about">
                    <i class="info circle icon"></i> About
                </a>
            </div>
        </div>
    </div>



{% endblock %}
{% block scripts %}
    <script>

        $('.ui.modal.principal-menu').modal({transition: 'fly left'}).modal('attach events', '.principal .item:first-child', 'show');
        $('.ui.modal.about-menu').modal({transition: 'fly left'}).modal('attach events', '#about', 'show');
        $('.ui.modal.filter-menu').modal({transition: 'fly left'}).modal('attach events', '#principal-filter', 'show');

        $('.ui.overlay').visibility({
            type: 'fixed',
            offset: 15 // give some space from top of screen
        })
        ;
        var map = L.map('map', {
            minZoom: 7,
            maxBounds: [
                [-28.078, -64.313],
                [-19.068, -51.657]
            ]
        })
                .setView([-25.308, -57.6], 13);
        /* Open Street Map */
        //Mapnik
        var osmMapnikLayer = L.tileLayer(
                'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });
        //B&W
        var osmBWLayer = L.tileLayer(
                'http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });
        //DE
        var osmDELayer = L.tileLayer(
                'http://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });
        //HOT
        var osmHOTLayer = L.tileLayer(
                'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
                });
        /* ThunderForest */
        //OpenCycleMap
        var thunderforestOpenCycleMapLayer = L.tileLayer(
                'http://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });
        /* CartoDB*/
        //Positron
        var cartodbPositronLayer = L.tileLayer(
                'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
                    subdomains: 'abcd',
                    minZoom: 0,
                    maxZoom: 18
                });


        var groupedOverlays = {
            "Base Layer": {
                "Open Street Map - Mapnik": osmMapnikLayer,
                "Open Street Map - Blanco y Negro": osmBWLayer,
                "Open Street Map - DE": osmDELayer,
                "Open Street Map - HOT": osmHOTLayer,
                "ThunderForest - Open Cycle Map": thunderforestOpenCycleMapLayer,
                "CartoDB - Positron": cartodbPositronLayer
            },
            "Map Type": {}
        };

        var options = {exclusiveGroups: ["Base Layer"]};

        var layerControl = L.control.groupedLayers({}, groupedOverlays, options);
        map.addControl(layerControl);

        osmMapnikLayer.addTo(map);
    </script>
{% endblock %}
