{% extends "base.html" %}
{% block body %}
    <style>
        /* TODO: map-style.css */
        .ui.fixed.sticky + p {
            margin-top: 39px;
        }

        #map {
            height: 100%
        }

        .overlay {
            background-color: #FFFFFF;
            padding: 0.5em;
            z-index: 1000;
            left: 50px;
            top: 10px;
            border-radius: 6px;
            border: 2px solid rgba(0,0,0,0.2);
        }

        /* change style */
        .fixed.overlay {
            position: fixed;
            padding: 0.3em;
        }
    </style>
    <div class="overlay fixed">
        <div class="ui secondary small menu">
            <a class="item">
                <i class="add circle icon"></i> New Event
            </a>
            <a class="item">
                <i class="help circle icon"></i> Help
            </a>
            <a class="item">
                <i class="info circle icon"></i> About
            </a>
        </div>
    </div>
    <div id="map">


    </div>

{% endblock %}
{% block scripts %}
    <script>


        $('.ui.overlay').visibility({
            type: 'fixed',
            offset: 15 // give some space from top of screen
        })
        ;
        var map = L.map('map', {
            minZoom: 7,
            maxBounds: [
                [-28.078, -64.313],
                [-19.068, -51.657]
            ]
        })
                .setView([-25.308, -57.6], 13);
        /* Open Street Map */
        //Mapnik
        var osmMapnikLayer = L.tileLayer(
                'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });
        //B&W
        var osmBWLayer = L.tileLayer(
                'http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });
        //DE
        var osmDELayer = L.tileLayer(
                'http://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });
        //HOT
        var osmHOTLayer = L.tileLayer(
                'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>'
                });
        /* ThunderForest */
        //OpenCycleMap
        var thunderforestOpenCycleMapLayer = L.tileLayer(
                'http://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.opencyclemap.org">OpenCycleMap</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                });
        /* CartoDB*/
        //Positron
        var cartodbPositronLayer = L.tileLayer(
                'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
                    subdomains: 'abcd',
                    minZoom: 0,
                    maxZoom: 18
                });

        var baseLayers = {
            "Open Street Map - Mapnik": osmMapnikLayer,
            "Open Street Map - Blanco y Negro": osmBWLayer,
            "Open Street Map - DE": osmDELayer,
            "Open Street Map - HOT": osmHOTLayer,
            "ThunderForest - Open Cycle Map": thunderforestOpenCycleMapLayer,
            "CartoDB - Positron": cartodbPositronLayer
        };

        var layerControl = L.control.groupedLayers(baseLayers, {}, {});
        map.addControl(layerControl);

        osmMapnikLayer.addTo(map);
    </script>
{% endblock %}
